.DS_Store
/SwiftBetaMarket.xcodeproj/project.xcworkspace/xcuserdata/home.xcuserdatad/UserInterfaceState.xcuserstate
/SwiftBetaMarket.xcodeproj/xcuserdata/home.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
